<div class="uk-container">
  <h2>Manage Products</h2>
  <table class="uk-table uk-table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category Quality</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
      
        <td>{{ product.description }}</td>
        <td>{{ product.categoryQuality }}</td>
        <td>
          <img [src]="product.imageUrl" alt="{{ product.name }}" width="100">
        </td>
        <td>
          <button class="uk-button uk-button-default" (click)="onUpdate(product)">Update</button>
          <button class="uk-button uk-button-danger" (click)="onDelete(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
