<div class="product-card" *ngIf="product">
    <div class="product-content">
      <div class="product-tumb">
        <img class="product-card-img" [src]="'data:image/png;base64,' + product.imageData" [alt]="product.name" />
      </div>
      <div class="product-details">
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <div class="product-bottom-details">
          <div class="product-price">
            {{ product.price | currency:'USD' }}
          </div>
          <div class="product-links">
            <a href="javascript:void(0);" (click)="addToCart(product)">
              <i class="fa fa-shopping-cart"></i> Add to Cart
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  